*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
    background-color: rgba(10, 66, 116, 0.979);
}

header .logo{
    margin-left: 10px;
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase; /*colocar texto en mayúsculas*/
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: Macondo;
}

header ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
  
}
header ul li{
    list-style: none;
    position: relative;
}
header ul li a{
    margin: 10px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
    font-family: Macondo;
}

header ul li a:hover, header ul li a.active{
    background-color: aliceblue;
    color: black;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 10%;
    
}  





/*Todo lo que tiene que ver con el texto centrado*/
.imagenBack{
    position: relative;
    width: 100%;
    height: 100vh;
}

.textocentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: Macondo;
    transition: 1s;
    text-align: center;
    color: red;
    
}

h1{
    border: black 2px solid;
    padding: 2px;
    border-color:#fff transparent;
    font-size: 5em;
}


/*Aqui va una cosa*/

.red{
    position: absolute;
    height: 100vh;
    width: 51%;
    left: -1%;
    
}
.blue{
    height: 100vh;
    right: 0%;
    width: 50%;
    position: absolute;
}


/*Intentando animar las cosas*/

.Contenido{
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 0;
    z-index: -100;
    opacity: 0;
    
}
.mostrarContenido{
    margin-top: 100px;
    overflow: visible;
    animation: reverse;
    z-index: -1;
}



